body
{
  font-family: 'Roboto', sans-serif!important;
}

header .contact-us
{
  display: flex;
}

nav
{
  display: flex;
}

nav ul
{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  padding-left: 20px;
}

nav li
{
  text-decoration: none;
}

.banniere
{
  background-color: #000000;
  width: 100%;
  height: 300px;
}

.banniere h2
{
  color: #FFF;
  font-size: 2em;
  text-align: center;
  padding-top: 130px;
}

.yellow
{
  color: #F3C831;
}
