/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* MY CSS CODE BEGINS HERE ***********************************************************************************************************************************************************************************************************/
body
{
  /* font-family: 'Roboto', sans-serif!important; */
  font-family: 'Raleway', sans-serif;
}

header .contact-us
{
  display: flex;
}

nav
{
  display: flex;
}

nav ul
{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  padding-left: 20px;
}

nav li
{
  text-decoration: none;
}

.banniere
{
  background-color: #000000;
  width: 100%;
  height: 300px;
}

.banniere h2
{
  color: #FFF;
  font-size: 2em;
  text-align: center;
  padding-top: 130px;
}

.yellow
{
  color: #ffcc06;
}
/* ******arrivée du CSS index */
.round{
	border: 4px solid white;
	width: 100px;
	height: 100px;
	border-radius: 50px;
}
.text-left{
	text-align: left;
}
.white-box{
	height: 180px;
	width: 130px;
	border: 1px solid #eaeaea;
	border-radius: 1px;
}
.font-bold{
	font-weight: bold;
}
.font-small{
  font-size: 0.8em;
}
.font-medium{
  font-size: 1em;
}
.font-big{
  font-size: 1.3em;
}
.grey-box-big{
  height: 270px;
  width: 515px;
  background-color: grey;
  margin-top:5px;
}
.background-black{
  background-color: #1a1818;
  color: white;
}
.background-grey{
  background-color: #464343;
  color: white;
	height: 70vh;

}
.background-yellow{
background-color: #ffcc06;
color: black;
}
.background-white{
	background-color: white;
	color: black;
}
.bar{
	height: 40px;
	margin: 0 0 15px 0;
}
.button-big-black{
	margin: auto;
	height: 30px;
	width: 120px;
	background-color: #1a1818;
	color: white;
	border: #1a1818;
	border-radius: 4px;
}
.button-small-yellow{

	height: 25px;
	width: 150px;
	background-color: #ffcc06;
	color: black;
	border: #ffcc06;
	border-radius: 3px;
}
.container{
  display: flex;
	justify-content: space-between;
	padding: 0px 20% 0px 20%;
	border-radius: 1px;
}
.flex{
	display: flex;
	align-items: center;
}
